<nav>
  <a [routerLink]="['/']"
     [routerLinkActive]="['router-link-active']"
     [routerLinkActiveOptions]="{exact:true}"
     i18n="@@nav-home">
    Home
  </a>
  <a [routerLink]="['/about-me']"
     [routerLinkActive]="['router-link-active']"
     [routerLinkActiveOptions]="{exact:true}"
     i18n="@@nav-about-me">
    About me
  </a>
  <a [routerLink]="['/links']"
     [routerLinkActive]="['router-link-active']"
     [routerLinkActiveOptions]="{exact:true}"
     i18n="@@nav-links">
    Links
  </a>
  <a [routerLink]="['/contact']"
     [routerLinkActive]="['router-link-active']"
     [routerLinkActiveOptions]="{exact:true}"
     i18n="@@nav-contact">
    Contact
  </a>
</nav>
