:host {
  background-color: var(--orange);
  display: block;
  padding: 0;
}

nav {
  display: flex;
  max-width: 800px;
  width: 90vw;
  margin: auto;
}

nav a {
  height: 30px;
  color: black;
  background-color: transparent;
  font-size: 1.6rem;
  line-height: 30px;
  padding: 0 16px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  transition: color .25s, background-color .25s;
}

nav a.router-link-active,
nav a:hover {
  color: white;
  background-color: black;
}

@media (max-width: 700px) {
  nav {
    width: 100%;
  }
}
