<div class="contactItem">
  <!--<div class="typeContact" [inlineSVG]="'house.svg'"></div>-->
  <object class="typeContact" type="image/svg+xml" data="/assets/svg/house.svg">Your browser does not support SVGs</object>
  <div class="contenuContact">
    Dorfstrasse 17<br />
    3084 Wabern<br />
    Suisse / Schweiz / Switzerland
  </div>
</div>
<div class="contactItem">
  <object class="typeContact" type="image/svg+xml" data="/assets/svg/smartphone.svg">Your browser does not support SVGs</object>
  <div class="contenuContact">
    <a href="tel:0041798009042">+41 79 800 90 42</a>
  </div>
</div>
<div class="contactItem">
  <object class="typeContact" type="image/svg+xml" data="/assets/svg/envelope.svg">Your browser does not support SVGs</object>
  <div class="contenuContact"><a href="{{emailAddress}}">{{emailAddress}}</a></div>
</div>
<div class="contactItem">
  <object class="typeContact" type="image/svg+xml" data="/assets/svg/skype.svg">Your browser does not support SVGs</object>
  <div class="contenuContact">
    <a href="skype:davidsandoz" title="Skype">davidsandoz</a>
  </div>
</div>
<div class="contactItem">
  <object class="typeContact" type="image/svg+xml" data="/assets/svg/telegram.svg">Your browser does not support SVGs</object>
  <div class="contenuContact">
    <a href="https://telegram.me/sandoz" title="Telegram">@sandoz</a>
  </div>
</div>
<div class="contactItem">
  <object class="typeContact" type="image/svg+xml" data="/assets/svg/facebook-messenger.svg">Your browser does not support SVGs</object>
  <div class="contenuContact">
    <a href="https://m.me/sandoz" title="Facebook Messenger">sandoz</a>
  </div>
</div>
