
.contact-item {
  width: 280px;
  margin: auto;
}

.contact-item > * {
  vertical-align: top;
}

.contact-icon {
  display: inline-block;
  width: 24px;
  padding-top: 4px;
  margin-right: 4px;
}

.contact-data {
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 13px;
}
