:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.ds-c-home__intro-text {
  color: white;
  text-align: center;
}

.ds-c-home__social-icons {
  text-align: center;
}

.ds-c-home__social-icon {
  display: inline-block;
  margin: 0.7em;
}

a.ds-c-home__social-icon {
  text-decoration: none;
}
