:host {
  background-color: black;
  color: var(--orange);
  display: block;
  height: 300px;
  text-align: center;
}

h1 {
  /* Visually hide the title */
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.ds-cover-image,
.ds-name-cover,
.ds-side-gradient-cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.ds-cover-image {
  background-size: 1200px;
  background-image: url('/assets/images/home.jpg');
}

.ds-cover-image--about-me {
  background-image: url('/assets/images/about-me.jpg');
}

.ds-cover-image--links {
  background-image: url('/assets/images/links.jpg');
}

.ds-cover-image--contact {
  background-image: url('/assets/images/contact.jpg');
}

.ds-cover-image--impressum {
  background-image: url('/assets/images/impressum.jpg');
}

.ds-side-gradient-cover {
  max-width: 1200px;
  margin: auto;
  background: linear-gradient(85deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 3%,rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(0,0,0,1) 97%,rgba(0,0,0,1) 100%);
}

.ds-name-cover {
  background-image: url('/assets/images/name-cover.png');
  background-size: 3000px;
}

.ds-lang-switcher {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 24px;
  width: 24px;
  padding: 5px 5px 4px 5px;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  .ds-cover-image {
    background-image: url('/assets/images/home@2x.jpg');
  }

  .ds-cover-image--about-me {
    background-image: url('/assets/images/about-me@2x.jpg');
  }

  .ds-cover-image--links {
    background-image: url('/assets/images/links@2x.jpg');
  }

  .ds-cover-image--contact {
    background-image: url('/assets/images/contact@2x.jpg');
  }

  .ds-cover-image--impressum {
    background-image: url('/assets/images/impressum@2x.jpg');
  }

  .ds-name-cover {
    background-image: url('/assets/images/name-cover@2x.png');
  }
}

@media (max-width: 1200px) {
  :host,
  img,
  .ds-name-cover,
  .ds-cover-image {
    height: calc(100vw / 4);
    max-height: 300px;
  }

  .ds-cover-image {
    background-size: 100vw;
  }

  .ds-name-cover {
    background-size: 250vw;
    background-position-y: top;
    /*background-position-x: -155vw;*/
  }

  .ds-side-gradient-cover {
    display: none;
  }
}
